/* 覆盖分页 */
.el-pagination button,
.el-pagination span:not([class*='suffix']) {
  font-size: 0.18rem !important;
  padding: 0 0.2rem !important;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-color: #54596d !important;
  color: #fff !important;
}

/* 覆盖下拉框 */
.popBox .el-input--mini .el-input__inner {
  color: #2f4554 !important;
}
.popBox .el-select--mini .el-input__inner {
  color: #2f4554 !important;
}
.popBox .el-date-editor .el-input__inner {
  color: #2f4554 !important;
}
.el-select--mini .el-input__inner {
  background: none !important;
  font-size: 0.2rem !important;
  color: #fff !important;
  border: none !important;
  height: 0.46rem !important;
  line-height: 0.46rem !important;
  padding: 0 !important;
}
.el-input--mini .el-input__inner {
  background: none !important;
  font-size: 0.2rem !important;
  color: #fff !important;
  border: none !important;
  height: 0.46rem !important;
  line-height: 0.46rem !important;
  padding: 0 !important;
}
.el-date-editor .el-input__inner {
  background: none !important;
  font-size: 0.2rem !important;
  height: 0.46rem !important;
  line-height: 0.46rem !important;
  padding: 0 !important;
}
.el-input__suffix,
.el-input__prefix {
  display: none !important;
}
.el-select-dropdown__item.selected {
  color: #000 !important;
}
.el-select-dropdown__item {
  font-size: 0.18rem !important;
}
.el-input--prefix .el-input__inner {
  padding-left: 0 !important;
}
.el-input--suffix .el-input__inner {
  padding-right: 0 !important;
}
