.bg-black {
  background: #999;
  color: #fff !important;
}
//二级预警
.bg-error {
  background-color: #ff0000;
  &:after {
    border-top: 0.1rem solid #ff0000;
  }
}
//一级预警
.bg-warn {
  background-color: #f9af00;
  &:after {
    border-top: 0.1rem solid #f9af00;
  }
}
//正常
.bg-normal {
  background-color: #4da024;
  &:after {
    border-top: 0.1rem solid #4da024;
  }
}
//断网
.bg-offline {
  background-color: #adadad;
  &:after {
    border-top: 0.1rem solid #adadad;
  }
}
//停机
.bg-stop {
  background-color: #bd6135;
  &:after {
    border-top: 0.1rem solid #bd6135;
  }
}

//1=二级预警
.error {
  color: red !important;
}
//2=一级预警
.warn {
  color: #f9af00 !important;
}
//3=正常
.normal {
  color: #4da024 !important;
}
//4=停机
.stop {
  color: #bd6135 !important;
}
//5=断网
.offline {
  color: #adadad !important;
}
//总计
.g-orange {
  color: #ff6600 !important;
}
.bg-orange {
  background: #ff6600 !important;
}

//1=二级预警
.opacity-error {
  box-shadow: 0 0 0.2rem 0.2rem #d10b0b !important;
  background-color: rgba(255, 5, 5, 0.8) !important;
}
//2=一级预警
.opacity-warn {
  box-shadow: 0 0 0.2rem 0.2rem #f9af00 !important;
  background-color: rgba(249, 175, 0, 0.8) !important;
}
//3=正常
.opacity-normal {
  box-shadow: 0 0 0.2rem 0.2rem #4da024 !important;
  background-color: rgba(77, 160, 36, 0.8) !important;
}
//4=停机
.opacity-stop {
  box-shadow: 0 0 0.2rem 0.2rem #bd6135 !important;
  background-color: rgba(189, 97, 53, 0.8) !important;
}
//5=断网
.opacity-offline {
  box-shadow: 0 0 0.2rem 0.2rem #adadad !important;
  background-color: rgba(173, 173, 173, 0.8) !important;
}

.g-titleName {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.06rem;
  width: 3rem;
  margin: 0 auto;
  background: #4a4d5e;
  color: #fff;
  text-align: center;
  line-height: 0.28rem;
  font-size: 0.2rem;
  border-radius: 2rem;
}

.bg-3d-01 {
  background: url('~assets/siteInfo/bg_station.png') no-repeat;
  background-size: 100% 100%;
}
.bg-3d-02 {
  background: url('~assets/siteInfo/bg_escalator.png') no-repeat;
  background-size: 100% 100%;
}
.bg-3d-03 {
  background: url('~assets/siteInfo/bg_fan.png') no-repeat;
  background-size: 100% 100%;
}
.bg-3d-04 {
  background: url('~assets/siteInfo/bg_door.png') no-repeat;
  background-size: 100% 100%;
}
